<a href="https://colab.research.google.com/github/diegobernal20802/ejercicios-python/blob/main/EjercicioTuplas_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Manejo de Tuplas*

In [6]:
# Crear tupla
tupla = (1, 2, 3, 4, 5)
tupla

(1, 2, 3, 4, 5)

In [7]:
# Imprime el tipo de dato de la tupla
type(tupla)

tuple

In [9]:
# Se puede imprimir la variabla que se encuentre en cada indice de la tupla
print(tupla[2])
print(tupla[3])
print(tupla[4])
print(tupla[1])
print(tupla[0])

3
4
5
2
1

In [10]:
# Como cada valor en el indice de la tupla tiene un tipo, se puede imprimir
print(type(tupla[0]))

<class 'int'>

In [13]:
# Usar el valor negativo para obtener el ultimo elemento
tupla[-1]

5

In [14]:
# Usar el valor negativo para obtener el penultimo elemento
tupla[-2]

4

In [15]:
# Usar el valor negativo para obtener el antepenultimo elemento
tupla[-3]

3

In [16]:
# Concatenar dos tuplas
tupla2 = tupla + ("Michael", 7.5 , 8)
tupla2

(1, 2, 3, 4, 5, 'Michael', 7.5, 8)

In [19]:
# Slice en tuplas
tupla2[4:7]

(5, 'Michael', 7.5)

In [20]:
# Longitud de la tupla
len(tupla2)

8

In [21]:
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

# Ordenar tupla
RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [22]:
# Tupla anindada
AT = (1, 2, ("pop", "rock"), (3, 4), ("disco", (1, 2)))
AT

(1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)))

In [23]:
len(AT)

5

In [24]:
# Impimir cada elemento de la tupla anidada
print("Elemento 0 de la tupla: ", AT[0])
print("Elemento 1 de la tupla: ", AT[1])
print("Elemento 2 de la tupla: ", AT[2])
print("Elemento 3 de la tupla: ", AT[3])
print("Elemento 4 de la tupla: ", AT[4])

Elemento 0 de la tupla:  1
Elemento 1 de la tupla:  2
Elemento 2 de la tupla:  ('pop', 'rock')
Elemento 3 de la tupla:  (3, 4)
Elemento 4 de la tupla:  ('disco', (1, 2))

In [29]:
# Imprimir elemento especificad de la tupla anidada
print("Elemento 2, 0 de la tupla: ", AT[2][0])
print("Elemento 2, 1 de la tupla: ", AT[2][1])
print("Elemento 3, 0 de la tupla: ", AT[3][0])
print("Elemento 3, 1 de la tupla: ", AT[3][1])
print("Elemento 4, 0 de la tupla: ", AT[4][0])
print("Elemento 4, 1, 0 de la tupla: ", AT[4][1][0])

Elemento 2, 0 de la tupla:  pop
Elemento 2, 1 de la tupla:  rock
Elemento 3, 0 de la tupla:  3
Elemento 3, 1 de la tupla:  4
Elemento 4, 0 de la tupla:  disco
Elemento 4, 1, 0 de la tupla:  1

In [33]:
# Caracteres de la tupla aniadada
AT[2][1][0]

'r'

PRUEBA

In [43]:
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco")
len(genres_tuple)
# Longitud de genres_tuple
genres_tuple[3]
# Indice de la tupla
genres_tuple[3:6]
# Seccion de la tupla
genres_tuple[0:2]
# Seccion inicial de la tupla
genres_tuple.index("disco")
# Indice del genero "disco"
C_tuple=(-5, 1, -3)
C_Sorted = sorted(C_tuple)
C_Sorted
# Tupla ordenada

[-5, -3, 1]