<a href="https://colab.research.google.com/github/diegobernal20802/ejercicios-python/blob/main/EjercicioFunciones_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Manejo de Funciones*

In [48]:
# Funcion1 (SUMA)
def Sum(a):
  b = a + 1
  print(a,"si sumas 1:", b)
  return(b)

In [4]:
# Obtener ayuda con la funcion 'sum'
help(sum)

Help on function sum in module __main__:

sum(a)
    # Funcion1

In [10]:
# Llamar a la funcion 'sum'
sum(1)

1 si sumas 1: 2

2

In [11]:
# Llamarla con otro valor
sum(2)

2 si sumas 1: 3

3

In [12]:
# Funcion2 (MULTIPLICACIÃ“N)
def Mult(a,b):
  c = a * b
  return(c)

In [13]:
# Llamar a la funcion 'Mult'
Mult(2,3)

6

In [14]:
# Probando funcion con float
Mult(10.0,3.14)

31.400000000000002

In [15]:
# Diferentes tipos de datos
Mult(2, "Michael Jackson ")

'Michael Jackson Michael Jackson '

In [23]:
# Funcion definicion
def square(a):

    # Variable local  b
    b = 1
    c = a * a + b
    print(a, "if you square + 1", c)
    return(c)

In [24]:
# Inicializar variable global

x = 3
# Makes function call and return function a y
y = square(x)
y

3 if you square + 1 10

10

In [26]:
# Funciones sin retorno
def MJ():
    print('Michael Jackson')

def MJ1():
    print('Michael Jackson')
    return(None)

In [32]:
# Funciones que no devuelven nada e imprimen algo
print(MJ())
print(MJ1())

Michael Jackson
None
Michael Jackson
None

In [33]:
# Funcion para conmbinar strings
def con(a, b):
    return(a + b)

In [34]:
con("This ", "is")

'This is'

In [35]:
a1 = 4
b1 = 5
c1 = a1 + b1 + 2 * a1 * b1 - 1
if(c1 < 0):
    c1 = 0
else:
    c1 = 5
c1

5

In [ ]:
a2 = 0
b2 = 0
c2 = a2 + b2 + 2 * a2 * b2 - 1
if(c2 < 0):
    c2 = 0
else:
    c2 = 5
c2

In [36]:
# Funcion3
def Equation(a,b):
    c = a + b + 2 * a * b - 1
    if(c < 0):
        c = 0
    else:
        c = 5
    return(c)

In [37]:
a1 = 4
b1 = 5
c1 = Equation(a1, b1)
c1

5

In [38]:
a2 = 0
b2 = 0
c2 = Equation(a2, b2)
c2

0

In [42]:
# Funcion para imprimir listas
album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]
print(album_ratings)

[10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]

In [50]:
# Funcion sumar
album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]
sum(album_ratings)

TypeError: can only concatenate list (not "int") to list

In [52]:
# Longitud lista o tupla
len(album_ratings)

8

In [53]:
# Funcion Tipo de Album
def type_of_album(artist, album, year_released):

    print(artist, album, year_released)
    if year_released > 1980:
        return "Modern"
    else:
        return "Oldie"

x = type_of_album("Michael Jackson", "Thriller", 1980)
print(x)

Michael Jackson Thriller 1980
Oldie

In [55]:
# Funcion bucle para imprimir
def PrintList(the_list):
    for element in the_list:
        print(element)


PrintList(['1', 1, 'the man', "abc"])

1
1
the man
abc

In [56]:
# Variable global y variable local con el mismo nombre
myFavouriteBand = "AC/DC"

def getBandRating(bandname):
    myFavouriteBand = "Deep Purple"
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is:",getBandRating("AC/DC"))
print("Deep Purple's rating is: ",getBandRating("Deep Purple"))
print("My favourite band is:",myFavouriteBand)

AC/DC's rating is: 0.0
Deep Purple's rating is:  10.0
My favourite band is: AC/DC

PRUEBA

In [61]:
def div(a, b):
    return(a/b)
# Dividir la entrada
def con(a, b):
    return(a + b)
con(2, 2)
con(['a', 1], ['b', 1])
# La funcion permite concentrar listas

['a', 1, 'b', 1]